<h1>Listing of all the Articles</h1>
<table>
    <thead>
        <tr>
            <th>TitLe</th>
            <th>Description</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.title%></td>
                <td><%= article.description%></td>
                <td><%= link_to 'SHOW', article_path(article.id) %></td>
                <td><%= link_to 'EDIT', edit_article_path(article.id) %></td>
                <td><%= link_to 'DELETE', article_path(article.id), method: :delete, data: {confirm: "Are you Sure"} %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<p><%= link_to 'Add New Article', new_article_path%></p>
